@import "./fonts.scss";
@import "./variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.container {
    padding: 0 20px;
    width: 100%;
    max-width: 1800px;
    margin: auto;
}