$CITPL_primary-100: #EEF5FC;
$CITPL_primary-200: #CDE0F7;
$CITPL_primary-300: #9BC2EE;
$CITPL_primary-400: #3771C3;
$Grey-200: #DCDCDE;
$Grey-300: #B9BABD;
$Grey-400: #73757A;
$Grey-800: #28292D;
$Red-200: #F9D5D2;