@import "../../assets/scss/common.scss";

.content {
    display: flex;
    padding: 24px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;

    border-radius: 24px 24px 0px 0px;
    background: #FFF;
    box-shadow: 0px -8px 18px 0px rgba(175, 175, 175, 0.25);

    .filterSection {
        display: flex;
        gap: 24px;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
        border-bottom: 1px solid $Grey-200;

        .item {
            display: flex;
            // margin: auto;
            gap: 10px;
            color: #000;
            font-family: Montserrat;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px;
            align-items: center;

            .selectBoxContainer {
                position: relative;

                .icon {
                    position: absolute;
                    right: 5px;
                    display: flex;
                    align-items: center;
                    height: 100%;
                    top: 0;
                    pointer-events: none;
                }

                .selectBox {
                    border-radius: 8px;
                    height: 100%;
                    border: 1px solid rgba(9, 44, 76, 0.40);


                    padding: 6px 11.8px 4px 12px;
                    // height: 24px;
                    min-width: 160px;
                    appearance: none;

                }
            }
        }
    }

    .tableIcon {
        div {
            padding: 8px;
        }
    }

    .categoryItem {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 76px;
        padding: 2px 0;
        border-radius: 4px;
    }

    .tableContainer {
        border: 1px solid $CITPL_primary-300;
        border-radius: 8px;

        .row {
            border-radius: 8px;
            margin: 5px 0;
            border-collapse: collapse;
            overflow: hidden;
            outline: 1px solid $Grey-300;

            .label {
                display: flex;
                width: 76px;
                height: 24px;
                padding: 2px 0px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border-radius: 4px;
                background: $Red-200;
            }
        }
    }
}